@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap");
* {
  font-family: "Barlow", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

/* These are my variables */
:root {
  --color-bg: #121315;
  --color-bg-var: #64a3f0;
  --color-primary: #22114f;
  --color-primary2: #170547;
  --color-link: #033e76;
  --color-gold: #897702;
  --color-primary-variant: #384555;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light: #17355a;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 95%;
  --transition: all 400ms ease-in-out;
}
a:hover {
  color: var(--color-gold);
}

body {
  background: rgb(33, 36, 50);
  color: #333;
  font-family: "Nunito";
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  font-size: 1rem;
  font-style: bold;
  width: max-content;
  background-color: var(--color-primary);
  display: inline-block;
  color: var(--color-bg);
  padding: 0.5rem 2rem;
  margin: 0.3rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: var(--transition);
}
